In [1]:
import pandas as pd
import numpy as np
from glob import glob
import matplotlib.pyplot as plt

In [37]:
def create_data(file_name,var_name,name_to_write,QC_names,sub_names,final_sub_names,freq='1min'):
    filepath=file_name+var_name

    df_all=pd.DataFrame()
    for f in glob(filepath+'*'):

        all_files=glob(f+'/*.csv')
        for i  in all_files:
            if str.find(i,freq)!=-1:
                print('file is found')
                data_file=i

        df=pd.read_csv(data_file)
        df.index=pd.to_datetime(df['startDateTime'].values)

        for QC in QC_names:
            df=df[df[QC]!=1]

        df_final=df.filter(sub_names)
        df_final.columns=final_sub_names
        df_all=pd.concat([df_all,df_final])
    df_all.to_csv(file_name+name_to_write+'.csv')
    return df_all

In [53]:
file_name='lake/'
var_name='NEON_rad-net-buoy/'
name_to_write='radiation'
QC_names=['inSWFinalQF','outSWFinalQF','inLWFinalQF','outLWFinalQF']
sub_names=['inSWMean','outSWMean','inLWMean','outLWMean']
final_sub_names=['SWIN','SWOUT','LWIN','LWOUT']
df_radiation=create_data(file_name,var_name,name_to_write,QC_names,sub_names,final_sub_names)

file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found

In [54]:
file_name='lake/'
var_name='NEON_temp-air-buoy/'
name_to_write='airtemp'
QC_names=['tempRHFinalQF']
sub_names=['tempRHMean']
final_sub_names=['Tair']
df_airtemp=create_data(file_name,var_name,name_to_write,QC_names,sub_names,final_sub_names)

file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found

In [55]:
file_name='lake/'
var_name='NEON_rel-humidity-buoy/'
name_to_write='RH'
QC_names=['RHFinalQF']
sub_names=['RHMean']
final_sub_names=['RH']
df_RH=create_data(file_name,var_name,name_to_write,QC_names,sub_names,final_sub_names)

file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found

In [56]:
file_name='lake/'
var_name='NEON_pressure-air-buoy/'
name_to_write='pressure'
QC_names=['staPresFinalQF']
sub_names=['staPresMean']
final_sub_names=['pres']
df_pres=create_data(file_name,var_name,name_to_write,QC_names,sub_names,final_sub_names)

file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found

In [126]:
file_name='lake/'
var_name='NEON_elev-surfacewater/'
name_to_write='surfacewaterElev'
QC_names=['sWatElevFinalQF']
sub_names=['surfacewaterElevMean']
final_sub_names=['surfacewaterElev']
df_swe=create_data(file_name,var_name,name_to_write,QC_names,sub_names,final_sub_names,freq='140.100.005.EOS_5_min')

file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found

In [127]:
file_name='lake/'
var_name='NEON_wind-buoy/'
name_to_write='WS'
QC_names=['buoyWindSpeedFinalQF']
sub_names=['buoyWindSpeedMean']
final_sub_names=['WS']
df_ws=create_data(file_name,var_name,name_to_write,QC_names,sub_names,final_sub_names,freq='2min')

file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found
file is found

In [128]:
df_radiation_30min=df_radiation.resample('30min').mean()
df_airtemp_30min=df_airtemp.resample('30min').mean()
df_RH_30min=df_RH.resample('30min').mean()
df_pres_30min=df_pres.resample('30min').mean()
df_swe_30min=df_swe.resample('30min').mean()
df_ws_30min=df_ws.resample('30min').mean()

In [129]:
df=df_radiation_30min.merge(df_airtemp_30min,left_index=True,right_index=True)
df=df.merge(df_RH_30min,left_index=True,right_index=True)
df=df.merge(df_pres_30min,left_index=True,right_index=True)
df=df.merge(df_swe_30min,left_index=True,right_index=True)
df=df.merge(df_ws_30min,left_index=True,right_index=True)

In [130]:
df.to_csv(file_name+'LIRO.csv')

In [131]:
df.head()

,SWIN,SWOUT,LWIN,LWOUT,Tair,RH,pres,surfacewaterElev,WS
2018-07-13 18:00:00+00:00,20.600000,3.540000,365.533333,444.866667,21.502733,NaN,95.822638,NaN,NaN
2018-07-13 18:30:00+00:00,6.858667,2.329667,363.733333,443.770000,20.580267,NaN,95.849933,NaN,NaN
2018-07-13 19:00:00+00:00,-3.328667,1.821333,361.820000,442.186667,20.026533,NaN,95.892198,NaN,NaN
2018-07-13 19:30:00+00:00,-3.991333,2.073667,357.640000,441.100000,19.704133,NaN,95.928470,NaN,NaN
2018-07-13 20:00:00+00:00,-4.196000,1.917667,353.883333,440.173333,19.300100,NaN,95.940450,NaN,NaN

In [2]:
df=pd.read_csv('lake/LIRO.csv',index_col=0)

In [3]:
df['NETRAD']=df['SWIN']-df['SWOUT']+df['LWIN']-df['LWOUT']
df_period=df.copy()
df_period.index=pd.to_datetime(df_period.index)

In [4]:
input_columns=['iy', 'id', 'it', 'imin', 'qn', 'qh', 'qe', 'qs', 'qf', 'U', 'RH', 'Tair', 'pres', 'rain', 
'kdown', 'snow', 'ldown', 'fcld', 'wuh', 'xsmd', 'lai', 'kdiff', 'kdir', 'wdir']
df_input=pd.DataFrame(columns=input_columns)
df_input.iy=df_period.index.year
df_input.id=[x.timetuple().tm_yday for x in df_period.index]
df_input.it=df_period.index.hour
df_input.imin=df_period.index.minute
df_input['kdown']=df_period.SWIN.values
df_input['ldown']=df_period.LWIN.values
df_input['U']=df_period.WS.values
df_input['snow']=0
df_input['rain']=0
df_input['RH']=df_period.RH.values
df_input['Tair']=df_period.Tair.values
df_input['pres']=df_period.pres.values
df_input['qf']=0
df_input.qn=df_period.NETRAD.values

In [5]:
for i in ['rain','U','RH','pres']:
    df_input.loc[df_input[df_input[i]<0].index,i]=-999

In [6]:
df_input.loc[df_input[df_input['Tair']<-50].index,'Tair']=-999
df_input.fillna(-999,inplace=True)
df_input.replace(-999,np.nan,inplace=True)
df_input.interpolate(limit_direction='both',inplace=True)
df_input.fillna(-999,inplace=True)

In [9]:
df_input.head()

,iy,id,it,imin,qn,qh,qe,qs,qf,U,...,kdown,snow,ldown,fcld,wuh,xsmd,lai,kdiff,kdir,wdir
0,2018,194,18,0,-62.273333,-999.0,-999.0,-999.0,0,0.612143,...,20.600000,0,365.533333,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
1,2018,194,18,30,-75.507667,-999.0,-999.0,-999.0,0,0.612143,...,6.858667,0,363.733333,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,2018,194,19,0,-85.516667,-999.0,-999.0,-999.0,0,0.612143,...,-3.328667,0,361.820000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,2018,194,19,30,-89.525000,-999.0,-999.0,-999.0,0,0.612143,...,-3.991333,0,357.640000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,2018,194,20,0,-92.403667,-999.0,-999.0,-999.0,0,0.612143,...,-4.196000,0,353.883333,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [24]:
name='LIRO'
df_input.to_csv('runs/data/'+name+'_data_60.txt',sep=' ',index=0)